<main class="container">
    <div class="content-container">
        @if (haveAccount()) {
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <h3>Login</h3>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <button mat-flat-button>Login</button>
        </form>

        } @else {
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
            <h3>Register</h3>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Second Name</mat-label>
                <input matInput type="text" formControlName="surname">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <button mat-flat-button>Register</button>
        </form>

        }

        @if (haveAccount()) {
        <button mat-raised-button color="accent" (click)="toggleCrateAccount()">Dont have an account?</button>
        } @else {
        <button mat-raised-button color="accent" (click)="toggleCrateAccount()">Already have an account?</button>
        }
    </div>
</main>