.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 30px;
    place-items: center;
    /* aligin-uje grid po horizontali */
    align-content: start;
    /* aligin-uje grid po vertikali */
    height: 100%;
    width: 80%;
}

.content-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
}
