<main class="flex min-h-[80vh] items-center justify-center p-5">
    <div class="w-full max-w-[400px] rounded-md border border-gray-100 bg-surface p-8 shadow-lg">
        <form class="flex flex-col gap-6" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
            <h2 class="text-2xl font-semibold text-gray-900 mb-2">Login as Employee</h2>

            <div class="flex flex-col gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
                        <mat-error>Email is required</mat-error>
                    }
                    @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
                        <mat-error>Invalid email format</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    @if(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched){
                        <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>
            </div>

            <button class="flex items-center justify-center rounded-xs bg-primary px-4 py-3 text-surface font-medium shadow-sm transition-all duration-300 hover:bg-primary-dark disabled:opacity-50 disabled:cursor-not-allowed" 
                    type="submit" 
                    [disabled]="loginForm.invalid">
                Login
            </button>
        </form>
    </div>
</main>