.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-container {
        background-color: white;
        display: grid;
        gap: 10px;
        width: 300px;
        border: 1px solid rgba(78, 78, 78, 0.11);
        padding: 26px;
        border-radius: 10px;

        .form {
            display: grid;
            gap: 3px
        }
    }
}

.tooltip{
    color: var(--muted);
    cursor: pointer;
}

.tooltip:hover{
    text-decoration: underline;
    transition: all 0.3s;
}