.container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 30px;
    place-items: center;
    /* aligin-uje grid po horizontali */
    align-content: start;
    /* aligin-uje grid po vertikali */
    height: 100%;
    width: 80%;
}

.register-company-container {
        background-color: white;
        display: grid;
        gap: 10px;
        width: 300px;
        border: 1px solid rgba(78, 78, 78, 0.11);
        padding: 26px;
        border-radius: 10px;

        .form {
            display: grid;
            gap: 3px
        }
    }

.content-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empty-state{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}