<nav class="w-full bg-white shadow-md flex justify-between py-5 mb-10 px-10">
  <h1
    class="text-lg font-extrabold bg-gradient-to-r from-blue-600 to-indigo-300 text-transparent bg-clip-text inline-block">
    HrPlatform✓
  </h1>
  @if (isAuth()) {
  <div class="links-container">
    <app-notifications />
    <button class="button-secondary" (click)="handleLogout()">Logout</button>
  </div>
  } @else {
  <div class="links-container">
    <a routerLink="/hr/auth">Login as HR</a>
    <a routerLink="/employee/auth">Login as Employee</a>
  </div>
  }
</nav>