.navbar {
    width: 96%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    background: #ffffff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: rgb(63, 128, 224);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.links-container {
    display: flex;
    gap: 1.5rem;
}

.links-container a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.links-container a:hover {
    color: rgb(63, 128, 224);
}
