<main class="w-full h-fit flex justify-center">
    <div class="w-[80%] grid gap-5 place-items-center">
        <div class="w-full h-fit flex justify-between py-3 border-b border-gray-200">
            <h1 class="text-2xl font-semibold">Vacation Request</h1>
            <button (click)="toggleRequestMode()" class="button-primary ">Submit New Request</button>
        </div>

        @if(isRequestMode()){
        <div class="w-full grid place-items-center gap-3 mt-10  p-5">
            <h2 class="bg-blue-200 text-blue-500 p-2 text-2xl rounded-lg font-medium"> Vacation days left {{ employeeData()?.vacationDays }}</h2>
            <form class="grid gap-4 items-center" [formGroup]="vacationDateForm" (ngSubmit)="onRequestFormSubmit()">
                <mat-form-field>
                    <mat-label>Select start date</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select end date</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
                <button [disabled]="isInvalidDateRange()" [class.button-primary-disabled]="isInvalidDateRange()" type="submit" class="button-primary">Submit</button>
            </form>

            <!-- <span class="text-lg bg-blue-100 p-2 rounded-md shadow-md font-semibold text-blue-500">{{ employeeData()?.vacationDays }} Vacation Days Left</span> -->
            @if(vacationDaysLeft(); as vacationDaysLeft){
                <span>Vacation days left: {{ vacationDaysLeft }}</span>
            }
        </div>
        } @else {
            @if(vacationRequests()?.length){
                <div class="w-full grid gap-4 grid-cols-4 place-items-center">
                    @for (req of vacationRequests(); track $index) {
                    <div class="w-fit p-5 gap-3 rounded-md shadow-md bg-white border-gray-200 border grid grid-cols-1">
                        <div class="w-full flex justify-between items-center">
                            <span class="bg-blue-300 p-2 text-xs rounded-lg font-medium text-blue-500">
                                {{ req.status.toLocaleUpperCase() }}
                            </span>
                        </div>

                        <div class="flex gap-5 font-medium text-gray-400 text-lg items-center">
                            <span>From: {{ req.startDate | date:'dd/MM/yyyy' }}</span>
                            <span>To: {{ req.endDate | date:'dd/mm/yyyy'}}</span>
                        </div>
                    </div>
                }
                </div>
            } @else {
                @if(vacationRequestsLoading()){
                    <div>
                        <mat-spinner />
                    </div>
                } @else {
                    <div class="w-full flex justify-center">
                        <span>No submited requests</span>
                    </div>
                }
            }
        }
    </div>
</main>