* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 70vh;
    /* da zauzme celu visinu ekrana */
    display: flex;
    /* fleks umesto grida za centriranje */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 900px;
    /* da ne ode preširoko */
    width: 100%;
}

.content-header {
    grid-column: 1 / -1;
    /* header zauzima celu širinu grida */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-header p {
    color: var(--text-muted);
}

.gateway-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    border: 2px solid rgba(70, 61, 61, 0.068);
    padding: 16px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.055);
}

.gateway-card:hover {
    border: 1px solid #0045942c;
    transition: all 0.4s;
    box-shadow: 0px 2px 20px #0045942d;
}

.gateway-card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gateway-card-header-chip {
    background-color: var(--sensitive-color);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gateway-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headline {
    font-size: large;
    font-weight: 500;
}

.description {
    color: var(--text-muted);
}

/* Responsive breakpoint */
@media (max-width: 768px) {
    .content-container {
        grid-template-columns: 1fr;
        /* jedna kolona */
        max-width: 500px;
        /* malo suženo da izgleda uredno */
    }

    .content-header {
        text-align: center;
        /* centriran tekst na mobilnom */
    }

    .gateway-card {
        width: 100%;
        /* kartica zauzima celu širinu */
    }
}