<nav class="w-full bg-white shadow-md flex justify-end py-5 mb-10 px-10">
  @if (isAuth()) {
    <div class="links-container">
      @switch (userRole()) {
        @case ('hr') {
          <a routerLink="/company">Company</a>
          <a routerLink="/employes">Employees</a>
          <a routerLink="/requests">Requests</a>
        }
        @case ('employe') {
          <a routerLink="/vacation">Vacation Requests</a>
          <a routerLink="/sick-leave">Sick Leave Requests</a>
        }
      }
      <button class="button-secondary" (click)="handleLogout()">Logout</button>
    </div>
  } @else {
    <div class="links-container">
      <a routerLink="/hr/auth">Login as HR</a>
      <a routerLink="/employe/auth">Login as Employee</a>
    </div>
  }
</nav>