<nav class="navbar">
    <span class="logo"></span>

    @if (isAuth$ | async) {
    <div class="links-container">
        <a routerLink="">Company</a>
        <a routerLink="">Employes</a>
        <a routerLink="">Requests</a>
        <button class="button-secondary" (click)="handleLogout()">Logout</button>
    </div>
    } @else {
    <div class="links-container">
        <a routerLink="/hr/auth">Login as HR</a>
        <a routerLink="/employe/auth">Login as Employe</a>
    </div>

    }
</nav>