/* You can add global styles to this file, and also import other style files */

body {
    background-color: whitesmoke;
}

:root {
    --primary-color: #0056b3;
    --secondary-color: #004494;
    --sensitive-color: #ccddf0;
    --text-muted: #696e72;

    --employee-color: #218802;
    --request-color: #b30068;

    --employe-soft: #2ab3001e;
    --request-soft: #b3006818;
}

.employe-bg {
    background-color: var(--employee-color) !important;
}

.employe-bg-soft {
    background-color: var(--employe-soft) !important;
}

.request-bg {
    background-color: var(--request-color) !important;
}

.request-bg-soft {
    background-color: var(--request-soft) !important;
}

button{
    all: unset;
}

.button-primary {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

.button-primary-disabled {
    cursor: auto !important;
    opacity: 50%;
}

.button-secondary {
    border: 1px solid rgba(128, 128, 128, 0.103);
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: var(--primary-color);
    text-decoration: none;
}

.button-secondary:hover {
    background-color: rgba(236, 234, 234, 0.233);
    transition: all 0.3s;
}

/* Card */

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    border: 2px solid rgba(70, 61, 61, 0.068);
    padding: 16px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.055);
}

.card:hover {
    /* border: 1px solid #0045942c; */
    transition: all 0.4s;
    box-shadow: 0px 2px 20px #0045942d;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-header-chip {
    background-color: var(--sensitive-color);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-headline {
    font-size: large;
    font-weight: 500;
}

.card-description {
    color: var(--text-muted);
}