<main class="container">
    <div class="content">
        <div class="content-header">
            <h1>Company</h1>

            @if (!company()) {
                <button [class.button-primary-disabled]="isRegisterMode()" [disabled]="isRegisterMode()" (click)="toggleRegisterMode()" class="button-primary">+ Register Company</button>
            }
        </div>

       @if(isRegisterMode()){
            <div class="register-company-container">
                    <form class="form" [formGroup]="registerCompanyForm" (ngSubmit)="onSubmitCompanyRegister()">
                        <h3>Register a Company</h3>

                        <mat-label>Company Name</mat-label>
                        <mat-form-field>
                            <input type="text" matInput formControlName="name">
                        </mat-form-field>

                        <button type="submit" [class.button-primary-disabled]="registerCompanyForm.pending" class="button-primary">{{registerCompanyForm.pending  ? 'Submiting...' : 'Submit'}}</button>
                    </form>
            </div>
       } @else {
         @if(company(); as company){
            <div class="card">
                <h2>{{ company.name }}</h2>
                <span>Company ID: {{ company.id }}</span>
                <span>Company Size: {{ company.size }}</span>
            </div>
        } @else if(loading()) {
            <div class="empty-state">
                <div>
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        } @else{
            <div class="empty-state">
                <div>
                    <h1>No registered company</h1>
                </div>
            </div>
        }
       }
    </div>
</main>
